@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
body{
  margin: 0;
  background-color: papayawhip;
  font-size: 16px;
  color: rgb(102, 102, 102);
  font-family:'YoungSerif', sans-serif;
  font-weight: 500;
  
 
}
.container{
  background-color: rgb(255, 255, 255);
  display:flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  padding: 30px;
  line-height: 3ex;
  
}
h1{
  line-height: 2ex;
}
.container img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.preparation{
  background-color: rgb(247, 247, 247);
  padding: 10px;
  
}
.preparation h3{
  color: rgb(82, 1, 119);
}
.line{
  border-bottom: 1px solid rgba(211, 211, 211, 0.9);

}
h2{
  color: rgb(102, 27, 27);
}
ol{
  color: brown;
}
li p{
  margin-top: 10px;
  color:rgb(102, 102, 102);
  
}
table{
 
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}
table thead tr {
  text-align: left;
}
table td {
    padding: 12px 15px;
}


tr,td{
  border-bottom: 1px solid #dddddd;
}
.color{
  color:  rgb(102, 27, 27);
}

@media (max-width: 600px) {
  .container{
    width: 100%;
  }
  
  /* … */
}